.navbarDiv{
    border-bottom: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    width: 80px;
    height: 100vh;
    position: fixed;
}

.logoImg{
    height: 64px;
    border-bottom: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;

}

.icon{
    font-size: 22px;
    color: #b6b6b6;

}

.inonText{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 5px;
}

.pageLink{
    border-bottom: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    padding: 15px 0;
    background-color: #EBEBEB;
}

.active{
    background-color: #F7F6F6 !important;
    border-right: none !important;
    font-weight: 700;


}

.active .icon{
    color: black !important;
}

.questionMark{
    border-right: 1px solid #b6b6b6;
    height: 100%;
    padding-bottom: 10vh;
    color: #b6b6b6;
    background-color: #EBEBEB;

}

.qIcon{
    font-size: 46px;
}